<%- include('header') -%>
  
<h1><%= title %> Spurningar</h1>

<section class="question">
  <% let currentQuestion = null; %>
  <% questions.forEach((item, index) => { %>
    <% if (currentQuestion !== item.question_id) { %>
      <% if (currentQuestion !== null) { %>
        </fieldset>
      <% } %>
      <fieldset>
        <legend><%= item.question_text %></legend>
        <% currentQuestion = item.question_id; %>
    <% } %>

    <label class="answer" data-correct="<%= item.is_correct %>">
      <input type="radio" name="answer_<%= item.question_id %>" value="<%= item.answer_id %>">
      <%= item.answer_text %>
   </label><br>
  <% }); %>
  
  <% if (currentQuestion !== null) { %>
    </fieldset>
  <% } %>

  <button id="submitAnswers">Submit Answers</button>
</section>

<script src="/checkAnswers.js"></script>

<%- include('footer') -%>