<%- include('header') -%>
  
<h1><%= title %> Spurningar</h1>

<form action="/spurningar/<%= title %>" method="POST">
  <% let currentQuestion = null; %>
  <% questions.forEach(function(item) { %>
    <% if (currentQuestion !== item.question_id) { %>
      <% if (currentQuestion !== null) { %>
        </fieldset>
      <% } %>
      <fieldset>
        <legend><%= item.question_text %></legend>
        <% currentQuestion = item.question_id; %>
    <% } %>
    <%
      let isCorrect = results && results[item.question_id] && results[item.question_id].isCorrect;
      let isSelected = results && results[item.question_id] && results[item.question_id].selectedAnswer == item.answer_id;
      let isRightAnswer = results && results[item.question_id] && results[item.question_id].correctAnswer == item.answer_id;
      let answerClass = isSelected ? (isCorrect ? "answer--correct" : "answer--incorrect") : (isRightAnswer ? "answer--correct" : "");
    %>

    <label class="answer <%= answerClass %>">
      <input type="radio" name="answer_<%= item.question_id %>" value="<%= item.answer_id %>" <% if (isSelected) { %> checked <% } %> >
      <%= item.answer_text %>
    </label><br>
  <% }); %>
  <% if (currentQuestion !== null) { %>
    </fieldset>
  <% } %>

  <button type="submit">Submit Answers</button>
</form>

  

<%- include('footer') -%>