<section class="question">
  <% let questionNo = 0 %>
  <% let currentQuestion = null; %>

  <% questions.forEach((item, index) => { %>

    <% if (currentQuestion !== item.question_id) { %>
      <% if (currentQuestion !== null) { %>
        </div>
      <% } %>
      <% questionNo++ %>
      <h2>Spurning <%= questionNo %></h2>
      <div class="question__text"><p><%= item.question_text %></p></div>
      <div class="question__form">
        <% currentQuestion = item.question_id; %>
    <% } %>

    <div class="answer">
      <input 
        class="answer__input" 
        data-correct="<%= item.is_correct %>" 
        type="radio" 
        name="answer_<%= item.question_id %>" 
        value="<%= item.answer_id %>"
      />
      <label class="answer__label"><%= item.answer_text %></label>
    </div>
  <% }); %>

  <% if (currentQuestion !== null) { %>
  </div>
  <% } %>

  <button id="submitAnswers">Submit Answers</button>
</section>

<script src="/checkAnswers.js"></script>

<%- include('footer') -%>