<%- include('header') -%>

<!-- Show Validation Errors -->
<% if (errors && errors.length > 0) { %>
  <div class="error-container">
    <ul>
      <% errors.forEach(error => { %>
        <li class="error-message"><%= error.msg %></li>
      <% }); %>
    </ul>
  </div>
<% } %>

<form id="Form" action="/form" method="POST">
  <label for="category">Flokkur:</label>
  <select id="category" name="category_id">
    <option value="">-- Veldur Flokk --</option>
    <% categories.forEach(function(category) { %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% }); %>
  </select>

  <label for="new_category">Bæta við nýjum flokk:</label>
  <input type="text" id="new_category" name="new_category" placeholder="New category name">
  <br>

  <label for="question">Spurning:</label>
  <input type="text" id="question" name="question_text">
  <br>

  <div id="answersContainer">
    <label>Svör:</label>
    <div class="answer">
      <input type="text" name="answers[]" required>
      <input type="radio" name="correct_answer" value="0" required> Rétt Svar
    </div>
  </div>

  <button type="button" id="addAnswer">Bæta við svarmöguleikum</button>

  <button type="submit">Staðfesta</button>
</form>

<script src="/newQuestion.js"></script>

<%- include('footer') -%>